<style>
  body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  img {
        max-width: 50%;  
        max-height: 50%;
        border-radius: 50%;
        float: left;
      }
  
  
  .menu {
    display: none;
  }
  </style>



      <div class='title' style="text-align: center;">
        <table  BORDER=”2″  style="margin: 0px auto;" >
          <tr>
            <td colspan="2"><h3><a  routerLink = "home_page" style="color: red;">&nbsp; Home Page &nbsp;</a></h3> </td> 

          </tr>
          <tr>
            <td > <a  routerLink = "survey-form" style="color: rgb(17, 0, 255);">&nbsp; Take Survey &nbsp;</a></td>
            <td > <a  routerLink = "survey_results_display" style="color: green;">&nbsp; Survey Results &nbsp; </a></td>
          <tr>
        </table>
      </div>

<hr>
  <router-outlet></router-outlet>